*{
    margin: 0; 
    padding: 0; 
}

/* Search Bar*/ 
.input-box{
    position: relative; 
    top: 135px;  
    width: 250px;
    height: 10px; 
    display: flex; 
    /* cursor: pointer;  */
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0, 0.3);
    padding: 0.75rem; 
    margin: 1.5rem auto;
    transform: translateY(-150px);
    
}

.input-box input{
    background: none; 
    border: none; 
    outline: none; 
    color: #121518; 
    font-size: 1rem; 
    font-family: 'Inter', sans-serif;
    font-weight: 500; 
    padding: 0 0.5rem; 
}
body{
    background-color: #283851;
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #ccc9c9; 
}
.input-box input{
    outline: none; 
    border: none; 
    transition: transparent;
    /* cursor: pointer; */
}
/*Logo Stuff*/ 
.img-container{
    display: flex;
    width: 25px; 
    height: 25px; 
    padding: 0.5rem; 
}

#logo{
    width: 120px; 
    height: 120px; 
    margin: 0; 
    opacity: 0.7;
    
}
#logo:hover{
    transform: scale(1.1); 
    transition: all 0.5s;
    opacity: 1;
}


header, footer{
    background-color: #8ea9c3; 
    margin: auto 0; 
    text-align: center;
    color: #121518; 
    padding: 0.5rem; 
    font-family: 'Inter'
   
}

header li {
    list-style-type: none;

}

header ul {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

header a{
    text-decoration: none; 
    color: #121518; 
    font-size: 20px; 
    
}

header a:visited{
    color: #121518; 
    text-decoration: none;
}

footer{
    font-style: italic;
}


.social-icons a{
    margin: 0 10px; 
    

}

.social-icons a:hover{
    margin: 0 10px; 
    opacity: 0.5;
    transition: all 0.5s;

    
}

.search-container{
    display: flex; 
    position: relative; 
    right: 17px; 
    width: 30%;
}


.search-button{
    background: none; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    /* transform: scale(1.1); */
}

.search-button:hover{
    transform: scale(1.1); 
    transition: all 0.5s;
    /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */

}

nav a:hover{
    opacity: 0.5; 
    transform: scale(1.1); 
    transition: all 0.5s;
    color: white; 
    font-weight: 500;
}
nav li:hover{
    transform: scale(1.1); 
    transition: all 0.5s;
    
}

#login a:hover{
    color:hsl(193, 79%, 22%)  
}

#signup a:hover{
    color:hsl(0, 98%, 46%)

     
}
/* Home Page */

.accordion{
    margin: 100px auto; 
    width: 600px; 
}
.intro{
    text-align: center; 
    font-size: 25px; 
    font-weight: bold; 
    margin: 50px 0; 
}
.accordion li{
    list-style-type: none; 
    width: 100%;
    margin-bottom: 10px;
    background: #bbc8d4; 
    color: rgb(68, 63, 63); 
    padding: 10px; 
    border-radius: 4px; 
    /* font-size: 1.02rem; */
    /* box-shadow: 0 10px 25px rgba(0,0,0, 0.3); */
}

.accordion li label{
    padding: 10px; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #940707; 
}

.accordion li label span{
    transform: rotate(90deg); 
    font-size: 22px; 
    font-weight: bold;;
    color: #940707; 
}



.accordion label + input[type="radio"]{
    display: none; 
}

.accordion .content{
    padding: 0 10px; 
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    
}

.accordion label + input[type="radio"]:checked + .content{
    max-height: 400px; 
    transition: max-height 0.5s; 
}
/* Items Page */ 
.wrapper{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    margin: 6% auto 0; 
    font-family: 'Poppins', 'Inter', sans-serif;
}

.single-card{
    position: relative; 
    width: 280px; 
    height: 400px;
    margin: 15px; 
    box-shadow: 0 2px 20px rgba(0,0,0, 0.5);
    transition: box-shadow 0.3 ease; 
    overflow: hidden; 
    background: #8ea9c3;
    border-radius: 15px; 
    transition: all 0.8s ease-in-out; 
    text-align: center;
    cursor: pointer; 
    font-family: 'Inter', sans-serif;
    
}

.wrapper a{
    text-decoration: none; 
    color:inherit; 
}


.single-card:hover{
    transform:translateY(-10px);
    opacity: 0.5;
}

.wrapper img{
    height: 250px;
    width: 250px; 
}
.img-area{
    /* display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px;  */
    position: relative; 
    width: 100%; 
    height: 200px;
    overflow: hidden; 
    padding-top: 20px;  
}

.img-area img{
    width: 90%; 
    height: 100%;
    object-fit: cover;
    transition: transform 0.3 ease; 
}

.img-area:hover img{
    transform: scale(1.1);
    transition: all 0.5s;
}

.info{
    color: #383636; 
    padding: 7px;
    text-align: center; 
    
}

.price{
    font-weight: bold; 
    font-size: 20px; 
    margin: 10px 0; 
    color: rgb(40, 39, 39); 
}

.info h3{
    margin: 15px 0 10px; 
    font-size: 30px; 
    font-weight: bold; 
    
}
.offers{
    font-style: italic;
    color: #806d06; 
    
}

.quality{
    font-style: italic;
    font-weight: bold;
}
/* Item Page */
.container{
    margin: 30px; 
    width: 100%; 
    max-width: 900px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h5{
    text-transform: uppercase;
    margin: 0;
    font-size: 14px;
}

.product-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0 0;
    padding: 55px 0; 
    width: 100%; 
    margin: auto; 
  }


.product-details{
    padding: 40px; 
    background-color: #8ea9c3;
    min-width: 350px;
    min-height: 500px;
    .title{
        text-transform: uppercase; 
        margin: 0; 

    }
}

.product-image{
    padding: 50px; 
}
.product-image img {
    max-height: 500px;
    max-width: 500px;
}

.condition{
    text-transform: uppercase;
    font-style: italic; 
    font-weight: 700;
    font-size: 14px; 
}

.price-offers{
    font-weight: 700;
    margin-top: 5px; 
    font-size: 18px; 
    .current{
        color: black; 
        margin-left: 6px; 
    }
}

.before{
    text-decoration: line-through; 
    color: #c20000;
}

.item-header{
    margin-bottom: 50px; 
    position: relative;
}

article > h5{
    color: rgb(43, 41, 41); 
    margin: .5rem 0; 
    font-size: 14px; 
    text-align: center;
}

.footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}

.footer button{
    border: 0; 
     
    height: 50px; 
    width: 80%; 
    
    margin: .5rem 0;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(to bottom, #2a435b, 0%,  rgb(113, 121, 130) 100%);
    box-shadow: 0 10px 25px rgba(108, 133, 175, 0.3);
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    align-content: center;
}

.footer  button:hover{
    background: linear-gradient(to bottom, #0d0e0f, 0%,  rgb(90, 102, 117) 100%);
}
.footer button  img {
    width: 31px; 

}

.product-details span {
    font-size: 18px; 
    text-transform: uppercase;
    font-weight: 700; 
    margin-left: 10px; 
    color: white; 
}

.seller{
    text-align: center;
    color: rgb(237, 226, 226); 
}

.footer a img{
    width: 24px; 
    opacity: 0.5; 

}
.footer a img:hover{
    opacity: 1; 
}

#edit-button:hover{
    color: rgb(39, 84, 206);
    transform: scale(1.1); 
    transition: all 0.5s;
}

#delete-button:hover{
    color: rgb(143, 20, 20); 
    transform: scale(1.1); 
    transition: all 0.5s;
}

.container{
    display: flex; 
    flex-direction: row;
    align-items: normal;
    margin: auto; 
    padding: 10px;
    
    

}

.product-image{
    border-radius: 20px 0 0 20px;
    max-width: 330x;
}
/* Sell Page */
.form-container{
    background-color: hsl(0, 8%, 92%); 
    padding: 35px 50px; 
    width: 50%; 
    min-width: 420px;
    margin: 10px; 
    margin-right: 10px; 
    padding: 35px 50px;
    margin: 25px auto; 
    
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0, 0.15);
    /* color: rgb(7, 7, 7);  */
    font-family: 'Poppins', sans-serif;

}

.form-container h1{
    font-size: 30px; 
    text-align: center; 
    color: #29346c; 
}

.form-container p{
    position: relative; 
    margin: auto; 
    width: 100%; 
    text-align: center;
    color: #606060; 
    font-size: 400;

}

.form-container form{
    width: 100%; 
    position: relative; 
    margin: 30px auto 0 auto; 
    color: rgb(35, 71, 214); 
}

.row{
    width: 100%; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px; 
    /* justify-content: space-evenly; */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px; 
}

.column label {
    margin-bottom: 5px;
    font-weight: bold;
}


label{
   font-size: 14px; 
   font-weight: bold;
}

.form-container textarea, .form-container input,.form-container select{
    font-weight: 100%; 
    font-weight: 400; 
    padding: 8px 10px; 
    border-radius: 5px;
    border: 1.2px solid #c4cae0; 
    margin-top: 5px; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.form-container input[type="file"]{
    border: 0 none;
    padding: 3px; 
}

.form-container textarea{
    resize: none; 
}

.form-container textarea:focus, .form-container input:focus{
    outline: none; 
    border-color: #47c5e4; 
}

.form-container button{
    border: none; 
    padding: 10px 20px;
    background: linear-gradient(130deg, #7a809b, #29346c);
    border-radius: 3px;
    font-family: inherit;
    color: white; 
    width: 100%; 
    cursor: pointer;
}


.form-container button:hover{
    background: linear-gradient(130deg, #29346c, #7a809b);
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.5s;
    /* content: "Are you sure you want to submit?"; */
}

main .center, div .center{
    text-align: center;
    padding: 10px 20px;
    
}



.error-container{
    height: 470px; 

}

.none-container{
    min-height: 470px; 
}


.profile-container{
    background-color: hsl(0, 8%, 92%); 
    color:rgb(35, 71, 214); 
    padding: 35px 50px; 
    width: 50%; 
    min-width: 420px;
    margin: 10px; 
    margin-right: 10px; 
    padding: 35px 50px;
    margin: 25px auto; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0,0,0, 0.15);
    /* color: rgb(7, 7, 7);  */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}


.profile-container a{
    text-decoration: none;
    font-size: large;
    color:rgb(10, 31, 107);
}

.profile-container a p:hover::after {
    content: ' Click To Show Item';
    font-size: 0.7rem;
}


.profile-container a p:hover{
    transition: transform 0.3s ease; 
    transform: scale(1.5); 
}

.center{
    margin: auto; 
    text-align: center;
}


.form-container input[type="submit"] {
  

    border: none; 
    padding: 10px 20px;
    background: linear-gradient(130deg, #7a809b, #29346c);
    border-radius: 3px;
    font-family: inherit;
    color: white; 
    width: 100%; 
    cursor: pointer;

}

.form-container input[type="submit"]:hover {
    background: linear-gradient(130deg, #29346c, #7a809b);
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.5s;
}

.error, .success{
    font-size: 18px;
    margin-bottom: 10px;
    
    text-align: center;
}

.error{
    color: red;
    background-color: hsla(0, 0%, 100%, 0.122);
    padding: 10px; 
    margin-top: 10px; 
    border-radius: 5px;
    transition: all;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    background: linear-gradient(to bottom, #fcfafa, 0%,  rgb(88, 106, 124) 100%);
    
    
}
 
.success{
    color: rgb(18, 190, 18);
    font-weight: bold;
    background-color: hsla(0, 0%, 100%, 0.122);
    padding: 10px; 
    margin-top: 10px; 
    border-radius: 5px;
    transition: all;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1);
    background: linear-gradient(to bottom, #fcfafa, 0%,  rgb(88, 106, 124) 100%);
}

.form-container.login{
    min-height: 100px;
    

}

.form-container.login input[type="submit"]{
    margin-top: 50px;
}

.profile{
    min-height: 63.7vh;
}